@use "sass:math";
@import "../../style/breakpoints.scss";
@import "../../style/sizes.scss";

.side-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -$menu-width;
    width: $menu-width;
    z-index: 200;
    padding-right: $menu-grip-width;
    transition: all 0.5s ease;
    background: var(--color-main);
    box-sizing: border-box;

    &:hover,
    &:focus-within {
        left: 0;

        > .trigger > div {
            right: 0;
        }
    }

    .trigger {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $menu-grip-width;
        background: var(--color-dark);
        > div {
            transition: all 0.5s ease;
            position: absolute;
            left: auto;
            top: 0;
            right: -$menu-grip-width;
            width: $menu-grip-width;
            height: $header-height;
            padding: 0.25rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            > div {
                height: 0.25rem;
                background: var(--color-dark-contrast);
                box-sizing: border-box;
            }
        }
    }

    @include from("small") {
        left: -#{$menu-width - $menu-grip-width};
        .trigger > div {
            left: calc(50% - #{math.div($menu-grip-width, 2)});
            top: calc(50% - #{math.div($header-height, 2)});
            right: auto;

            > div {
                margin-left: 0;
            }
        }
    }

    @include from("large") {
        left: 0;
        padding-right: $menu-separator-width;

        .trigger {
            width: $menu-separator-width;

            > div {
                display: none;
            }
        }
    }
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: $menu-grip-width;
    overflow-y: auto;

    @include from("large") {
        right: $menu-separator-width;
    }
}
