$grid-spacing: 0.5rem !default;
$grid-columns: 12 !default;

.clearfix {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-spacing;
    padding-right: $grid-spacing;
    width: 100%;
    @extend .clearfix;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-spacing;
    margin-right: -$grid-spacing;
    box-sizing: border-box;
}
@mixin screen-size-mixin($short) {
    $basename: '.col-#{$short}';
    #{$basename} {
        padding: $grid-spacing;
        box-sizing: border-box;
        flex: none;
    }
    @for $i from 1 through $grid-columns {
        .col-#{$short}-#{$i} {
            width: percentage($i/$grid-columns);
            @extend #{$basename};
        }
    }
    .hide-#{$short} {
        display: none !important;
    }
}

@include until("small") {
    @include screen-size-mixin(xs);
}

@include fromUntil("small", "medium") {
    @include screen-size-mixin(sm);
}

@include fromUntil("medium", "large") {
    @include screen-size-mixin(md);
}

@include from("large") {
    @include screen-size-mixin(lg);
}
