@import "../style/colors.scss";
@import "../style/spacings.scss";
@import "../style/breakpoints.scss";
@import "../style/reset.scss";

@include until("large") {
    nav:hover + .mainwrapper {
        pointer-events: none;
        overflow: hidden;
    }
}

.mainwrapper {
    transition: all 0.5s ease;
    background: #f6f6f6;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @include fromUntil("small", "large") {
        width: calc(100% - 25px);
        margin-left: 25px;
    }
    @include from("large") {
        width: calc(100% - 260px);
        margin-left: 260px;
    }
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

:global {
    @include reset();

    html,
    body {
        height: 100%;
        overflow: hidden;
    }
    body {
        perspective: 2000px;
        perspective-origin: 50% 50%;

        background: #404040;
        font-family: "PT Serif";
    }
}
