/* stylelint-disable value-keyword-case */
$serif: "Source Serif Pro", "Times New Roman", Times, serif;
$sans-serif: "Source Sans Pro", Arial, Helvetica, sans-serif;
$monospace: "Source Code Pro", Consolas, Monaco, monospace;
