@use "../style/breakpoints";
@use "../style/sizes";

.mainwrapper {
    transition: all 0.5s ease;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @include breakpoints.from("small") {
        width: calc(100% - sizes.$menu-grip-width);
        margin-left: sizes.$menu-grip-width;
    }

    @include breakpoints.from("large") {
        width: calc(100% - sizes.$menu-width);
        margin-left: sizes.$menu-width;
    }
}

.content {
    overflow: hidden auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    > main {
        flex-grow: 1;
    }
}
