@import "../../style/breakpoints.scss";

.box {
    margin: 2rem -1rem;
    word-break: break-word;
    border: 1px solid var(--color-dark);
    border-width: 0 0 1px 0;

    @include from("small") {
        border-width: 0 1px 1px 1px;
        margin: 2rem 0;
    }

    > h2 {
        padding: 0;
        margin: 0;

        > a {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0.5rem 1rem 0.25rem 1rem;
            text-decoration: none;

            .label {
                flex-grow: 1;
            }

            .date {
                flex-grow: 0;
                font-size: 1.125rem;
                padding: 0.5rem 0 0 0;
            }

            @include from("small") {
                flex-direction: row;
                align-items: center;

                .date {
                    flex-shrink: 0;
                    padding: 0 0 0 1rem;
                }
            }
        }
    }

    .box-children {
        padding: 1rem;
    }
}
