@use "sass:math";
@import "../../style/breakpoints.scss";
@import "../../style/sizes.scss";

$transition-time: 0.5s;

.side-bar-overlay {
    background: transparent;
    transition: right 0s $transition-time linear, background-color $transition-time ease-in-out;
    position: fixed;
    top: 0;
    right: 100vw;
    bottom: 0;
    left: 0;
    z-index: 199;
}

.side-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -$menu-width;
    width: $menu-width;
    z-index: 200;
    padding-right: $menu-grip-width;
    transition: all $transition-time ease;
    background: var(--color-main);
    box-sizing: border-box;

    &:hover,
    &:focus-within {
        left: 0;

        > .trigger > div {
            right: 0;
        }

        + .side-bar-overlay {
            background: var(--color-overlay);
            right: 0;
            transition: right 0s linear, background-color $transition-time ease-in-out;
        }
    }

    .trigger {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $menu-grip-width;
        background: var(--color-dark);
        > div {
            transition: all $transition-time ease;
            position: absolute;
            left: auto;
            top: 0;
            right: -$menu-grip-width;
            width: $menu-grip-width;
            height: $header-height;
            padding: 0.25rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            > div {
                height: 0.25rem;
                background: var(--color-dark-contrast);
                box-sizing: border-box;
            }
        }
    }

    @include from("small") {
        left: -#{$menu-width - $menu-grip-width};

        .trigger > div {
            left: calc(50% - #{math.div($menu-grip-width, 2)});
            top: calc(50% - #{math.div($header-height, 2)});
            right: auto;

            > div {
                margin-left: 0;
            }
        }
    }

    @include from("large") {
        left: 0;
        padding-right: $menu-separator-width;

        &:hover,
        &:focus-within {
            + .side-bar-overlay {
                background: transparent;
                right: 100vw;
                transition: right 0s $transition-time linear, background-color $transition-time ease-in-out;
            }
        }

        .trigger {
            width: $menu-separator-width;

            > div {
                display: none;
            }
        }
    }
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: $menu-grip-width;
    overflow-y: auto;

    @include from("large") {
        right: $menu-separator-width;
    }
}
