@import "../../style/colors.scss";
@import "../../style/spacings.scss";

.back-link {
    padding: $space-md;
    margin: $space-md $space-md $space-md 0;
    background: $panel-color;
    border-radius: $space-sm;
    display: inline-block;
}
