.characters-page-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.characters-page-list > * {
    margin-right: 5px;
    margin-bottom: 5px;
    width: calc(50% - 5px);
    box-sizing: border-box;
}
