@import "../../style/spacings.scss";
@import "../../style/fonts.scss";

.link-button,
.link-button-disabled {
    display: inline-block;
    font-family: $font-sans-serif;
    padding: $space-sm $space-md;
    border-radius: $space-sm;
    text-decoration: none;
    color: var(--color-a);
    margin-right: $space-sm;
    margin-bottom: $space-sm;
    line-height: 1;
}

.link-button {
    background: var(--color-b);

    &:hover {
        background: var(--color-c);
    }
}

.link-button-disabled {
    background: var(--color-c);
    opacity: 0.75;
    pointer-events: none;
}
