@import "../../style/fonts.scss";

.link-button,
.link-button-disabled {
    display: inline-block;
    font-family: $font-sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1;
}

.link-button {
    background: var(--color-dark);
    color: var(--color-dark-contrast);
    padding: 0.5rem 0.25rem;
    border-left: 0.5rem solid var(--color-dark);
    border-right: 0.5rem solid var(--color-dark);

    &:hover,
    &:focus {
        text-decoration: none;
        background: var(--color-highlight);
        color: var(--color-highlight-contrast);
        &:not(:link) {
            border-color: var(--color-highlight);
        }
    }

    &:link {
        color: var(--color-dark-contrast);
        border-color: var(--color-dark-link);
    }
}

.link-button-disabled {
    padding: 0.5rem 0.75rem;
    background: var(--color-disabled);
    color: var(--color-disabled-contrast);
    pointer-events: none;
}
