@import "../../style/colors.scss";
@import "../../style/spacings.scss";

.header {
    display: flex;
    flex-direction: row;

    > a {
        padding: $space-md;
        margin: $space-md $space-md $space-md 0;
        background: $panel-color;
        border-radius: $space-sm;
    }
}

.headerTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    margin-right: $space-lg;
}