@import "../../style/spacings.scss";
@import "../../style/sizes.scss";

.article-head {
    text-align: center;
    padding: 4rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-color: var(--color-disabled);
    background-image: url(./background.webp);
    color: var(--color-dark-contrast);
    text-shadow: 0 0 1em var(--color-dark);
    justify-content: center;
    display: flex;
    flex-direction: row;

    p,
    h1 {
        max-width: $content-width;
        padding: 0 1.5rem;
        box-sizing: border-box;
        margin: 0;
    }

    p {
        padding-top: 1rem;
    }
}
