@import "../../style/spacings.scss";

.articleHead {
    text-align: center;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px #333333;
}
