@import "../../style/spacings.scss";
@import "../../style/breakpoints.scss";

.footer {
    font-family: "Doppio One";
    background: var(--color-b);
    color: var(--color-a);
    text-align: center;
    font-size: 14px;
    padding: $space-sm;

    > a {
        color: var(--color-a);
    }
}
