@import "../../style/colors.scss";
@import "../../style/spacings.scss";
@import "../../style/breakpoints.scss";

.footer {
    font-family: 'Doppio One';
    background: black;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 2px;

    > a {
        color: white;
    }
}
