@import "../../style/spacings.scss";
@import "../../style/breakpoints.scss";
@import "../../style/fonts.scss";

.footer {
    background: var(--color-b);
    color: var(--color-a);
    text-align: center;
    padding: $space-sm;

    > a {
        color: var(--color-a);
    }
}
