@use "../../style/fonts";

.side-bar-menu,
.side-bar-menu ul {
    font-family: fonts.$sans-serif;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-bar-menu {
    li {
        display: list-item;
        font-size: 1.25rem;
        font-weight: bold;

        > a,
        > span {
            display: block;
            padding: 0.75rem;
            text-decoration: none;
        }

        > a:not(:hover, :focus) {
            color: var(--color-main-contrast);
        }

        > span {
            pointer-events: none;
        }

        > a:hover,
        > a:focus {
            display: block;
            background: var(--color-highlight);
            color: var(--color-highlight-contrast);
            outline: none;
            box-shadow: none;
            text-decoration: none;
        }
    }

    li.selected > a,
    li.selected > span {
        text-decoration: underline;
    }

    li:hover,
    li:focus-within {
        > span {
            display: block;
            background: var(--color-disabled);
            color: var(--color-disabled-contrast);
        }
    }

    /* stylelint-disable no-descending-specificity */
    > li > ul > li {
        > a,
        > span {
            padding-left: 1.75rem;
        }
    }
    /* stylelint-enable no-descending-specificity */
}
