.side-bar-header {
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;

    > img {
        width: 140px;
        height: 140px;
        border: 1px solid var(--color-b);
    }

    > h3 {
        font-family: "Doppio One";
        margin: 5px 0 0 0;
    }
}
