@use "../../style/breakpoints";
@use "../../style/sizes";
@use "../../style/fonts";

.header {
    font-family: fonts.$sans-serif;
    font-weight: bold;
    background: var(--color-dark);
    color: var(--color-dark-contrast);
    font-size: 1.5rem;
    padding: 0 0.5rem 0 #{sizes.$menu-grip-width + 0.5rem};
    line-height: sizes.$header-height;
    flex-shrink: 0;
    position: relative;
    display: flex;
    transition: all 0.5s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include breakpoints.from("small") {
        padding-left: 0.5rem;
    }

    @include breakpoints.from("large") {
        margin-top: -(sizes.$header-height);
    }
}
