@import "../../style/breakpoints.scss";

.synopsis {
    margin: 2em 0;
    padding: 0.25em;
    position: relative;
    background: linear-gradient(
        75deg,
        var(--color-synopsis-border),
        var(--color-main) 25%,
        var(--color-main) 75%,
        var(--color-synopsis-border)
    );

    @include from("small") {
        background: linear-gradient(
            45deg,
            var(--color-synopsis-border),
            var(--color-main) 25%,
            var(--color-main) 75%,
            var(--color-synopsis-border)
        );
    }

    > p {
        margin: 0;
        padding: 1em;
        background: var(--color-main);
    }
}
