@import "../../style/breakpoints";
@import "../../style/sizes";
@import "../../style/fonts";

.header {
    font-family: $font-sans-serif;
    font-weight: bold;
    background: var(--color-dark);
    color: var(--color-dark-contrast);
    font-size: 1.5rem;
    padding: 0 0.5rem 0 #{$menu-grip-width + 0.5rem};
    line-height: $header-height;
    flex-shrink: 0;
    position: relative;
    display: flex;
    transition: all 0.5s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include from("small") {
        padding-left: 0.5rem;
    }

    @include from("large") {
        margin-top: -$header-height;
    }
}
