@import "../../style/sizes.scss";
@import "../../style/colors.scss";

.article-header {
    position: relative;
    text-align: center;
    padding: 4rem 0;
    background: radial-gradient(ellipse at center, $color-accent-700 0%, $color-accent-900 100%);
    color: var(--color-highlight-contrast);
    text-shadow: 0 0 1em var(--color-dark);
    justify-content: center;
    display: flex;
    flex-direction: row;
    word-break: break-word;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
        background-image: url(./background.svg);
    }

    > * {
        z-index: 2;
    }

    p,
    h1 {
        max-width: $content-width;
        padding: 0 1.5rem;
        box-sizing: border-box;
        margin: 0;
    }

    p {
        padding-top: 1rem;
    }
}
