@import "../../style/fonts.scss";

.article {
    margin-bottom: 2rem;

    > h2 {
        border-bottom: 1px solid var(--color-main-contrast);
    }
    figure {
        width: 100%;
        table-layout: fixed;
    }
    img {
        max-width: 100%;
    }
    pre > code {
        border-radius: 0.5rem;
        margin: 1rem 0;
        font-family: $font-monospace;
    }
}

:global {
    @import "highlight.js/styles/vs2015";
}
