@import "../../style/spacings.scss";

.article {
    max-width: calc(100vw - 40px);

    > h2 {
        border-bottom: 1px solid #424242;
        margin: 2rem 0;
    }
    figure,
    p {
        margin: 1rem 0;
    }
    figcaption {
        font-style: italic;
        color: #424242;
        font-size: 14px;
    }
    figure {
        width: 100%;
        table-layout: fixed;
    }
    img {
        max-width: 100%;
    }
    pre > code {
        border-radius: 5px;
        margin: 1rem 0;
        font-family: Consolas, Monaco, monospace;
    }
}

:global {
    @import "highlight.js/styles/vs2015";
}
