@import "../../style/breakpoints.scss";
@import "../../style/sizes.scss";
@import "../../style/spacings.scss";
@import "../../style/fonts.scss";

.side-bar-menu,
.side-bar-menu ul {
    font-family: $font-sans-serif;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-bar-menu {
    li {
        display: list-item;
        font-size: 1.25rem;
        font-weight: bold;
        > a,
        > span {
            display: block;
            text-decoration: none;
            padding: $space-md;
        }
        > span {
            pointer-events: none;
        }
    }
    li.selected > a,
    li.selected > span {
        text-decoration: underline;
    }
    li:hover > a {
        display: block;
        background: var(--color-highlight);
        color: var(--color-highlight-contrast);
    }
    li:hover > span {
        display: block;
        background: var(--color-disabled);
        color: var(--color-disabled-contrast);
    }

    > li > ul > li {
        padding-left: $space-lg;
    }
    > li > ul > li:hover {
        background: var(--color-highlight);
    }
}
