$color-main-900: #000000;
$color-main-500: #333333;
$color-main-400: #5c5c5c;
$color-main-100: #f6f6f6;
$color-blue: #2c79b9;

:root {
    --color-dark: #{$color-main-900};
    --color-dark-contrast: #{$color-main-100};
    --color-main: #{$color-main-100};
    --color-main-contrast: #{$color-main-900};
    --color-highlight: #{$color-main-500};
    --color-highlight-contrast: #{$color-main-100};
    --color-disabled: #{$color-main-400};
    --color-disabled-contrast: #{$color-main-100};
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-main: #{$color-main-500};
        --color-main-contrast: #{$color-main-100};
        --color-highlight: #{$color-blue};
        --color-highlight-contrast: #{$color-main-100};
    }
}
