:root {
    // fixme: speaking names
    --color-a: #f6f6f6;
    --color-b: #000000;
    --color-c: #333333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-a: #262626;
        --color-b: #c9c9c9;
        --color-c: #333333;
    }
}
