@import "../../style/breakpoints.scss";
@import "../../style/sizes.scss";

.menucolumn {
    font-family: "Doppio One";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -$menu-width;
    width: $menu-width;
    z-index: 200;
    padding-right: $menu-grip-width;
    transition: all 0.5s ease;
    background: #f6f6f6;
    box-sizing: border-box;

    &:hover {
        left: 0;
    }

    .menugrip {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $menu-grip-width;
        background: black;
        > div {
            position: absolute;
            left: calc(50% - 9px);
            top: calc(50% - 16px);
            > div {
                width: 18px;
                height: 4px;
                margin: 5px 0;
                background: white;
                box-sizing: border-box;
            }
        }
    }

    @include from("small") {
        left: -#{$menu-width - $menu-grip-width};
    }
    @include until("small") {
        &:hover > .menugrip > div {
            right: 0;
        }
        .menugrip > div {
            transition: all 0.5s ease;
            top: 0;
            right: -$menu-grip-width;
            left: auto;
            width: $menu-grip-width;
            padding: 1px 0;

            > div {
                margin-left: 4px;
            }
        }
    }
    @include from("large") {
        left: 0;
        padding-right: 5px;

        .menugrip {
            width: 5px;

            > div {
                display: none;
            }
        }
    }
}

.menuscroller {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: $menu-grip-width;
    overflow-y: auto;
    ul {
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li > ul > li {
        padding-left: 20px;
    }
    li > ul > li:hover {
        background: black;
    }
    li {
        display: list-item;
        font-size: 20px;
        > a,
        > span {
            display: block;
            text-decoration: none;
            color: black;
            padding: 10px;
        }
    }
    li.selected > a,
    li.selected > span {
        text-decoration: underline;
    }
    li:hover > a {
        display: block;
        background: black;
        color: white;
    }
    li:hover > span {
        display: block;
        background: rgba(0, 0, 0, 0.15);
    }
    @include from("large") {
        right: 5px;
    }
}

.logo {
    text-align: center;
    padding: 20px;

    img {
        width: 140px;
        height: 140px;
        border: 1px solid black;
    }
    h3 {
        margin-bottom: 0;
    }
}
