@import "../../style/colors.scss";
@import "../../style/spacings.scss";

.episode {
    background: $panel-color;
    border-radius: $space-sm;
    padding: $space-md;
    margin-bottom: $space-md;
}
