@import "../../style/spacings.scss";
@import "../../style/breakpoints.scss";
@import "../../style/sizes.scss";

.header {
    font-family: "Doppio One";
    background: var(--color-b);
    color: var(--color-a);
    font-size: 22px;
    padding: 0 6px 0 30px;
    line-height: 100%;
    flex-shrink: 0;
    position: relative;
    display: flex;
    transition: all 0.5s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: $header-height;

    @include from("small") {
        padding-left: 20px;
    }

    @include from("large") {
        margin-top: -$header-height;
    }
}
