@import "../../style/colors.scss";
@import "../../style/spacings.scss";
@import "../../style/breakpoints.scss";

.header {
    font-family: "Doppio One";
    background: black;
    color: white;
    font-size: 22px;
    padding: 6px 6px 6px 30px;
    line-height: 100%;
    flex-shrink: 0;
    position: relative;
    display: flex;
    transition: all 0.5s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include from("small") {
        padding-left: 20px;
        > div {
            margin-right: 200px;
        }
    }

    @include from("large") {
        margin-top: -34px;
    }
}
