@import "../../style/spacings.scss";

.tagList {
    margin-top: 1rem;

    > a {
        display: inline-block;
        font-family: "Doppio One";
        padding: $space-sm $space-md;
        background: black;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        margin-right: $space-sm;
        margin-bottom: $space-sm;
        line-height: 1;

        &:hover {
            background: rgb(43, 43, 43);
        }
    }
}
