@import "../../style/spacings.scss";

.pagination {
    margin: 1rem 0;

    > a,
    > span {
        display: inline-block;
        font-family: "Doppio One";
        padding: $space-sm $space-md;
        border-radius: $space-sm;
        text-decoration: none;
        color: var(--color-a);
        margin-right: $space-sm;
        margin-bottom: $space-sm;
        line-height: 1;
    }

    > span {
        background: var(--color-c);
        opacity: 0.75;
        pointer-events: none;
    }

    > a {
        background: var(--color-b);

        &:hover {
            background: var(--color-c);
        }
    }
}
